
.appointment-button {
    border-radius: 5px;
    background-color: #008CEF;
    font-size: 1.1rem;
    margin-top: 30px;
    /*color: #A4D5E6;*/
    color: #ffffff;
    padding: 12px;

}


.day-select, .day-label, .hour-select, .hour-label {
    margin: 0 auto;
    width: 400px;
}

select {
    font-size: 1rem;
    padding: 10px;
}