{% extends "base.html" %} {% load static %} {% block title %}Health Connect - {{
facility.name }}{% endblock %} {% block css %}<link
  href="{% static 'css/medical-facility-details.css' %}"
  rel="stylesheet"
/>{% endblock %} {% block content %}

<div
  class="d-flex flex-column align-items-center justify-content-center mt-5 pt-5"
>
  <div class="text-secondary d-flex">
    <h1 style="color: #008cef" class="fw-bold">{{ facility.name }}</h1>
    <img height="50px" src="{% static "icons/verified.svg" %}">
  </div>

  <div class="row align-items-center mt-5" style="background-color: #008cef">
    <div class="col" style="background-color: white">
      <img width="100%" src="{{ facility.image }}" />
    </div>

    <div class="col">
      <h3
        class="fw-bold"
        style="font-size: 2.5rem; color: white; margin-bottom: 40px"
      >
        Description
      </h3>
      <p class="facility-description">{{ facility.description }}</p>
    </div>
  </div>

  <div style="overflow: hidden; resize: none; width: 100%; height: 500px">
    <div
      id="google-maps-display"
      style="height: 100%; width: 100%; max-width: 100%"
    >
      <iframe
        style="height: 100%; width: 100%; border: 0"
        frameborder="0"
        src='https://www.google.com/maps/embed/v1/place?q="{{ facility.name }}"&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8'
      ></iframe>
    </div>
    <a
      class="from-embedmap-code"
      rel="nofollow"
      href="https://www.bootstrapskins.com/themes"
      id="get-data-for-map"
      >premium bootstrap themes</a
    >
  </div>
</div>

{% endblock %}
