{% extends "base.html" %}
{% load static %}
{% block title %}Health Connect - Medical Facility{% endblock %}
<%{% block css %}
	<style>
    body {
    background-image: url("{% static 'images/bg.svg' %}");
    {#background-repeat: no-repeat;#}
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
    color: #132E65;
}
    </style>
{% endblock %}

{% block content %}
    <h1 class="text-center my-5 pt-4 fw-bold" style="color: #008CEF">Medical Facilities Around You</h1>
    <div class="row align-items-center justify-content-evenly">
        {%  for facility in facilities %}
        <div class="col col-4 mb-5">
            <div class="card">
                <img src="{{facility.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ facility.name }} <span><img height="25px" src="{% static "icons/verified.svg" %}"></span></h5>
                    <h6 class="card-subtitle mb-3 text-body-secondary">{{ facility.short_location }}</h6>
                    <div class="text-secondary d-flex">
                        <img class="me-2" height="24px" src="{% static "icons/institute.svg" %}">
                        <p>{{ facility.size }}</p>
                    </div>
                    <p>{{ facility.description }}</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url 'medical-facility-details' facility.id %}" type="button" class="btn btn-primary">View More</a>
                      <a href="" type="button" class="btn btn-success">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}