{% extends 'base.html' %}
{% load static %}
{% block title %}Uday Sharma's Profile{% endblock %}
{% block css %}<link href="{% static 'css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
    <div class="row mt-5 pt-5">
    <div class="col-md-4">
      <img src="{% static 'images/profile.jpeg' %}" alt="Profile Picture" class="profile-picture mb-3">
      <h4>Uday Sharma</h4>
      <p><span class="fw-bold">Email:</span> itsudayy@gmail.com</p>
      <p><span class="fw-bold">Age:</span> 19</p>
      <p><span class="fw-bold">Gender:</span> Male</p>
      <p><span class="fw-bold">Height:</span> 175 cm</p>
      <p><span class="fw-bold">Weight:</span> 70 kg</p>
        <p><span class="fw-bold">ABHA ID:</span> 12-3456-7890-1234-5678</p>
    </div>
    <div class="col-md-8">
        <h3 class="fw-bold">Appointments</h3>
        <ul class="mb-5">
            <li class="my-3">Friday 19 April, 12:00 PM - 1:00 PM with <a href="http://localhost:8000/medical-professional/2/">Dr. Rakesh Kumar</a>.</li> <a href="https://meet.google.com/xxa-pcvz-jtd/"><img height="25px" src="{% static "icons/meeting.svg" %}"></a> - Meeting Link
            <li class="my-3">Saturday 20 April, 4:00 PM - 5:00 PM with <a href="http://localhost:8000/medical-professional/2/">Dr. Priya Kumari</a>.</li> <a href="https://meet.google.com/xxa-pcvz-jtd/"><img height="25px" src="{% static "icons/meeting.svg" %}"></a> - Meeting Link
            <li class="my-3">Sunday 21 April, 8:00 AM - 9:00 AM with <a href="http://localhost:8000/medical-professional/2/">Dr. Rakesh Kumar</a>.</li> <a href="https://meet.google.com/xxa-pcvz-jtd/"><img height="25px" src="{% static "icons/meeting.svg" %}"></a> - Meeting Link
            <li class="my-3">Monday 22 April, 12:00 PM - 1:00 PM with <a href="http://localhost:8000/medical-professional/2/">Dr. Rakesh Kumar</a>.</li> <a href="https://meet.google.com/xxa-pcvz-jtd/"><img height="25px" src="{% static "icons/meeting.svg" %}"></a> - Meeting Link
        </ul>

        <h3 class="fw-bold">
            Medical Documents Issued
        </h3>
        <li class="mb-2">Chest X-Ray</li>
        <img class="mb-5" width="350px" style="border-radius: 10px" src="{% static "models/normal1.jpeg" %}">

      <h3 class="fw-bold">Emergency Contact</h3>
      <p>Name: Jane Doe</p>
      <p>Relationship: Spouse</p>
      <p>Phone: +1234567890</p>
    </div>
  </div>
{% endblock %}